@{
    Layout = "_MasterLayout";
}

<div class="infobar-grid">
    <div class="left-infobar">
        <div class="btn-infoleft">
            @RenderSection("backButton",false)
        </div>        
        <div>
            @RenderSection("imgSidebar",false)
        </div>
        <div class="text-infobar">
            @RenderSection("textSidebar",false)
         </div>
         <div class="info-actions">
            @RenderSection("actionSideBar",false)
         </div>
   </div>
   <div class="middle-infobar">
       <div>@RenderSection("middleTitle")</div>
        <div>
            @RenderSection("middleTable",false)
        </div>
        <div class="info-description">
            @RenderBody()
        </div>
  </div>
  <div class="footer-infobar">
      @RenderSection("footer",false)
   </div>
</div>