@page
@model Library.Pages.Catalog.BookInfoModel
@{
    Layout = "Theme/_ManagementLayout";
}

@section backButton{
<a asp-area="" asp-page="./Books">< Go back</a>
}

@section textSidebar{
<p> Book ISBN: @Model.book.GetISBN()</p>
        <p>Book pages: @Model.book.GetPages()</p>
        <p>Book genres:</p>
        <p>@foreach(var genre in Model.book.GetGenre()){
            @:[
            genre.GetName();
            @:]&ensp; 
        }
        </p>
        <p>Language: @Model.book.GetLanguage() </p>
        <p>Author: @Model.book.GetAuthor() </p>
        <p>Publisher: @Model.book.GetPublisher()</p>
}
@section middleTitle{
<h3>@Model.book.GetName()</h3>
}  
 
<p>
@Model.book.GetDescription()
</p>

@section footer{
<div class="btn-infomain">
    <a asp-area="" asp-page="./Reservation" asp-route-id="@Model.book.GetID()">Reserve</a>
 </div>
}