@page
@model PersonalUpdateModel
@{
}
@section title{
    Update your details
}

<form method="post" class="workerForm">
    <table class="formTable">
    <tr>
    <td>   <label asp-for="Fname">First name: </label>
    <span class="form-required" asp-validation-for="Fname">*</span></td> 
    <td><input type="text" required="required" aria-required="true" asp-for="Fname" value="@Model.Account.GetFName()" ></td>
</tr><tr>
    <td><label asp-for="Lname">Last name: </label>
    <span class="form-required" asp-validation-for="Lname">*</span></td>
    <td><input type="text" required="required" aria-required="true" asp-for="Lname" value="@Model.Account.GetLName()"></td>
    </tr><tr>
    <td><label asp-for="Email">Email: </label>
    <span class="form-required" asp-validation-for="Email">*</span></td>
   <td> <input type="email" required="required" aria-required="true" asp-for="Email" value="@User.Claims.First().Value" ></td>
</tr><tr>
   <td> <label asp-for="Telephone">Telephone: </label>
    <span class="form-required" asp-validation-for="Telephone">*</span></td>
    <td><input type="text" required="required" aria-required="true" asp-for="Telephone"  value="@Model.Account.GetTelephone()"></td>
    </tr><tr>
    <td><label asp-for="Street">Street Name: </label>
    <span class="form-required" asp-validation-for="Street">*</span></td>
    <td><input type="text" required="required" aria-required="true" asp-for="Street"  value="@Model.Account.GetStreet()" ></td>
    </tr><tr>
    <td><label asp-for="HouseNum">House Number: </label>
    <span class="form-required" asp-validation-for="HouseNum">*</span></td>
    <td><input type="text" required="required" aria-required="true" asp-for="HouseNum"  value="@Model.Account.GetHouseNum()" ></td>
      </tr> <tr> 
   <td> <label asp-for="Zipcode">Zipcode: </label>
    <span class="form-required" asp-validation-for="Zipcode">*</span></td>
   <td> <input type="text" required="required" aria-required="true" asp-for="Zipcode" value="@Model.Account.GetZipcode()"></td>
    </tr><tr>
    <td><label asp-for="City">City: </label>
    <span class="form-required" asp-validation-for="City">*</span></td>
    <td><input type="text" required="required" aria-required="true" asp-for="City"  value="@Model.Account.GetCity()"></td>
    </tr><tr>
    <td><label asp-for="Password">Password: </label>
    <span class="form-required" asp-validation-for="Password">(Keep empty if you don't want to change your password)</span></td>
    <td><input type="password" asp-for="Password" ></td>
    </tr><tr>
    <td> <input type="submit" value="Submit" /></td>
    <td></td>
</tr>
    </table>
</form>